// .ant-layout{
//     position: relative;
// }
.ant-layout .ant-layout-has-sider{
    position: relative
}
.centers{
    position: absolute;
    width: 800px;
    top:200px;
    left:400px
}